storage: none
source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Avalonia.Desktop
nuget Avalonia.Diagnostics
nuget JaggerJo.Avalonia.FuncUI
nuget JaggerJo.Avalonia.FuncUI.DSL
nuget JaggerJo.Avalonia.FuncUI.Elmish
nuget LibVLCSharp
nuget LibVLCSharp.Avalonia
nuget VideoLAN.LibVLC.Windows