storage: none
source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Avalonia.Desktop 0.10.12
nuget Avalonia.Diagnostics 0.10.12
nuget JaggerJo.Avalonia.FuncUI 0.5.0
nuget JaggerJo.Avalonia.FuncUI.DSL 0.5.0
nuget JaggerJo.Avalonia.FuncUI.Elmish 0.5.0
nuget LibVLCSharp
nuget LibVLCSharp.Avalonia
nuget VideoLAN.LibVLC.Windows